.container {
  max-width: 900px;
  margin: 50px auto;
  padding: 30px;
  border: 2px solid rgb(218, 218, 218);
  font-size: 18px;
  line-height: 26px;
  color: rgb(59, 59, 59);
}

.container table {
  width: 100%;
}

.container table td {
  padding: 12px;
  vertical-align: top;
}

.container table tr.top table td {
  padding-bottom: 20px;
}

.container table tr.heading td {
  background: rgb(232, 232, 232);
  border-bottom: 2px solid #ddd;
  font-weight: bold;
}

.container table tr.item td {
  border-bottom: 2px solid #eee;
}
