/* Insert your styles here */
/* This stylesheet is for your tested CSS, styles here will be deactivated when toggling wireframe style */
html {
  scroll-behavior: smooth;
  margin: 0;
}

section {
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
}

body {
  font-family: "Questrial", sans-serif;
  background-color: white;
  color: black;
  margin: 0;
}

header {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 0, 0);
  color: white;
}

main {
  margin: 0;
}

footer {
  background-color: black;
  color: white;
  width: 100%;
}

/**  **/

h2 {
  margin: 0 auto;
  text-align: center;
  font-size: 4em;
}

/** Images **/

.large-image {
  max-width: 80%;
  max-height: 80%;
  object-fit: cover;
}

/* Nav Bar styling */

nav {
  width: 100%;
  height: 60px;
  background-color: black;
  margin: 0 auto;
  position: sticky;
  top: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  font-size: 30px;
  color: #fff;
}

nav a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  background-color: #fff;
  color: black;
}

/** About Us **/
#about-us {
  margin-top: 5em;
}

.about_us_container {
  margin: 0;
}

.about_us_content_item {
  margin: 0;
  padding: 50px;
}

.about-us-image {
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}
/** Seats and prices **/

.seat_prices {
  margin: auto;
}

.seats-and-prices-containter {
  margin: auto;
}

.seats-and-prices-content-item {
  margin: auto;
  max-width: 90%;
  max-height: 90%;
}

.seats-and-prices-image {
  margin: auto;
  max-width: 90%;
  max-height: 90%;
}

/** Now Showing **/

.session_times_header {
  font-size: 1.5em;
}

.session_times {
  margin: auto;
  padding: 1em;
}

/** How do I make these all align **/
.movie_poster {
  max-height: 80%;
  max-width: 100%;
  bottom: 0;
}

.booking_button {
  display: inline-block;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.booking_button:hover {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 2px solid black;
}

/** panel styling **/

.panels_container {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 100px;
  justify-items: center;
  align-items: space-around;
}

div.card3D {
  box-sizing: border-box;

  height: 500px;
  width: 350px;
  padding: 5px;
  overflow: auto;

  position: relative;
}

div.card3D > div {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  box-sizing: border-box;
  padding: 5px 10px;

  /** allows you to adjust the positioning within the containing block **/
  position: absolute;

  transition: 1s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

div.card3D > div:nth-child(1) {
  /** border: 4px red groove; **/

  transform: rotateY(0deg);
}

div.card3D > div:nth-child(2) {
  /** border: 4px blue groove; **/

  transform: rotateY(180deg);
  overflow: auto;
}

div.card3D:hover > div:nth-child(1) {
  transform: rotateY(180deg);
}

div.card3D:hover > div:nth-child(2) {
  transform: rotateY(360deg);
}

/** Bookings page **/

/* Banner section */

#booking-banner-image {
  margin-bottom: 100px;
  min-height: 100%;
}

.banner-image {
  width: 100%;
  max-height: 650px;
  object-fit: cover;
  /* Controls which part of the image gets cropped as the view width increases */
  object-position: 50% 0%;
}

.banner-image-container {
  display: block;
  position: relative;
  padding: 0;
}

.banner-title {
  color: white;
  font-size: 3rem;
  opacity: 100%;
}

.banner-content-container {
  position: absolute;
  left: 10%;
  top: 20%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

.banner-title-synopsis {
  color: white;
  text-align: left;
}

/*
.text-background {
  background-color: black;
  opacity: 80%;
  border-radius: 10px;
}
*/
/** Booking form **/

.booking_form {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

/* Trailer Section */

#trailer {
  margin: 0;
  min-height: 100%;
}

/** Media Queries **/

/** Desktop **/
@media (min-width: 1025px) {
  .about_us_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .seats-and-prices-containter {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .panels_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    justify-items: center;
    align-items: space-around;
  }
}

/** Tablet **/
@media (max-width: 800px) {
}
